.vscode
cogs/ing_shop/__pycache__
cogs/profile/__pycache__
cogs/claim/__pycache__
cogs/error/__pycache__
cogs/menu/__pycache__
cogs/cook/__pycache__
cogs/serve/__pycache__
cogs/leaderboard/__pycache__
cogs/lootbox/__pycache__
cogs/help/__pycache__
data/__pycache__
utils/__pycache__
.env